## Requirements

Requirements for Piazza (PZ Core) are gathered on a continuous basis.  Stakeholders such as subject mater experts in the geospatial domain provide the necessary input which are then derived into user stories. Also, a core group of external users who have been selected to develop services within the Piazza framework provide feedback to the Piazza development team.  These users develop within the Piazza framework to enhance their geospatial capabilities and tool sets.

The product owner along with PZ Core team leaders meet on a regular basis to capture stakeholder needs and solicit the long-term vision.  Epics are identified from these discussions and then Epic owners perform analysis and derive the business case to determine the value, success criteria, scope and non-functional requirements.  Once the business case is reviewed and approved by the program stakeholders, the PZ Core team leaders derive user stories for the Epic.

For a template on capturing Epics, please see link:docs/PZ-Epic-Analysis-Template.docx[PZ-Epic-Analysis-Template.docx] for details.

The PZ Core team also drives user stories for technical trends to meet the emerging needs of users in order to be responsive to the changing geospatial technology domain.

Incoming change requests such defects and feature requests are continuously reviewed and triaged by the team.  The team works closely with the product owner and the technical lead to prioritize backlog and plan upcoming sprints.
